option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "creator_coin_new.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: creator_coin_new.wsgi:application  

container_commands:
  01_start:
    command: "echo starting initialization"  
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
