{% extends 'base.html' %}
{% load static %}


{% block content %}

  {% include 'navbar.html' %}

  <!-- <h3>Create New Project</h3> -->

  <div class="main-body" >

    <div class="animate__animated animate__fadeIn  container">
      
      <div class="row">

        <div class="col-12" style="text-align: center;">
          
          <h3 id="explore-header">
            <!-- <i class="bi bi-pencil-fill" style="font-size: 20px;"></i> Create -->
            Create Your Project <i class="bi bi-chevron-down" style="font-size: 20px;"></i>
          </h3>
          
          <p id="explore-paragraph">            
            <i>
              You will first publish your project page. Minting an NFT will be the next step.
            </i>
          </p>

        </div>

        <!-- TODO: center form, add save button and go from there -->
        <!-- <button>
          Save
        </button> -->

      </div>


      <!-- <div class="dropdown-divider"></div> -->
      <hr class="bg-danger border-1 border-top border-dark">


      <div class="row" > 

        <div class="col-2">

          <!-- <p>
            <strong>
              Add Image
            </strong>
          </p>
          <input id="nft_image_upload" type="file" name="nft_image" accept="image/*" style="display:none" multiple />
          <label for='nft_image_upload' id="main_nft_image_upload">
            <img id="nft_image_placeholder" src="{% static 'images/placeholder-image.png' %}" class="rounded img-thumbnail" alt="..." width="300" height="300" >
          </label>
  
          <p>
            TODO: add image generator
          </p> -->
  

        </div>


        <div class="col-10">

          <form id="project_form" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="form-group row mb-3">

              <label for="person_name" class="col-sm-2 col-form-label">
                <strong>
                  Your Name:
                </strong>
              </label>

              <div class="col-sm-7">
                {% if creator_profile.creator_personal_website is not None %}
                  <input type="text" class="form-control" id="person_name" name="person_name" placeholder="shouldn't be that hard..." value="{{ creator_profile.creator_name }}">
                {% else %}
                  <input type="text" class="form-control" id="person_name" name="person_name" placeholder="shouldn't be that hard...">
                {% endif %}
                
              </div>

            </div>


            <div class="form-group row mb-3">

              <label for="personal_email" class="col-sm-2 col-form-label">
                <strong>
                  Email: 
                </strong>
              </label>

              <div class="col-sm-7">

                {% if creator_profile.creator_personal_website is not None %}
                  <input type="text" class="form-control" id="personal_email" name="personal_email" placeholder="really for your backers, not for us..." value="{{ creator_profile.creator_email }}">
                {% else %}
                  <input type="text" class="form-control" id="personal_email" name="personal_email" placeholder="really for your backers, not for us...">
                {% endif %}
                
              </div>

            </div>


            <div class="row mb-3">

              <label for="project_website" class="col-sm-2 col-form-label">
                <i class="bi bi-link"></i>
              </label>

              <div class="col-sm-7">
                {% if creator_profile.creator_personal_website is not None %}
                  <input type="url" class="form-control" id="project_website" name="project_website" placeholder="your amazing personal website..." value="{{ creator_profile.creator_personal_website }}">
                {% else %}
                  <input type="url" class="form-control" id="project_website" name="project_website" placeholder="your amazing personal website...">
                {% endif %}
                
              </div>

            </div>


            <div class="row mb-3">

              <label for="project_discord_website" class="col-sm-2 col-form-label">
                <i class="bi bi-discord"></i>
              </label>

              <div class="col-sm-7">

                {% if creator_profile.creator_discord_website is not None %}
                  <input type="url" class="form-control" id="project_discord_website" name="project_discord_website" placeholder="gotta love a fancier IRC..." value="{{ creator_profile.creator_discord_website }}">
                {% else %}
                  <input type="url" class="form-control" id="project_discord_website" name="project_discord_website" placeholder="gotta love a fancier IRC...">
                {% endif %}
                
              </div>

            </div>


            <div class="form-group row mb-3">

              <label for="project_description" class="col-sm-2 col-form-label control-label">
                <strong>
                  Description:
                </strong>
              </label>

              <div class="col-sm-8">
                {% if creator_profile.creator_description is not None %}
                  <textarea class="form-control" placeholder="TODO: basic markdown supported?" id="project_description" name="project_description" rows="6">{{ creator_profile.creator_description }}</textarea>
                {% else %}
                  <textarea class="form-control" placeholder="TODO: basic markdown supported?" id="project_description" name="project_description" rows="6"></textarea>
                {% endif %}
                
              </div>
              
            </div>


            <br/>

            <input type="hidden" id="user_obj" name="user_obj" value="{{ user_object }}">

            <!-- <button class="ui button" type="submit">Submit</button> -->
            <button style="text-align: center;" type="submit" class="btn btn-outline-info">Submit</button>

          </form>

        </div>


      </div>


    </div>

  </div>    




  <script>

    
    document.querySelector('#nft_image_upload').addEventListener('change', function() {

      console.log('files:', this.files, this.files.length)

      if (this.files && this.files.length == 1){

        const validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/webp', 'image/svg+xml'];
        
        var file = this.files[0]
        var fileType = file['type']
        if (!validImageTypes.includes(fileType)) {  // invalid file type code goes here.
          alert('Invalid File Type! File types supported: JPG, PNG, GIF, SVG')
        } else { // valid file type
          document.getElementById('nft_image_placeholder').src = ''

          document.getElementById('nft_image_placeholder').src = URL.createObjectURL(file)

        }

      }

        // if (this.files && this.files.length <= 5 ){
        //   document.getElementById('proifle_image_error_message').style.display = 'none'

        //   const validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
          
        //   var valid_image_list = []
        //   for (i=0; i<this.files.length; i++){
        //     var file = this.files[i]
        //     var fileType = file["type"]
        //     if (!validImageTypes.includes(fileType)) {  // invalid file type code goes here.
        //       console.log('error...')
        //     } else {
        //       console.log('not-error...')
        //       valid_image_list.push(file)
        //     }
        //   }

      
    })



  </script>

  
  

  
  




{% endblock %}





