{% extends 'base.html' %}
{% load static %}


{% block content %}

  {% include 'navbar.html' %}

  
  <div class="animate__animated animate__fadeIn container" id="explore-container-main">

    <!-- <h3>Explore</h3> -->
    <!-- <p>
      Discover projects created by others.
    </p> -->

    <div class="row" style="padding-top: 2%;">

      <div class="col-12" style="text-align: center;">

        <h3 id="explore-header">Explore</h3>
        <p id="explore-paragraph">
          Discover projects created by others.
        </p>
        
        <!-- <span style="float: right;">

          <label class="custom-control-label" for="nft-project-select" style="font-weight: bolder;">
            View By:
          </label>
  
          <select class="nft-selection-filter" id="nft-project-select">
            <option value="most_recent" selected>Date Created</option>
            <option value="2">Most Active</option>
          </select>
          
        </span> -->
        

      </div>
    
    </div>

    <!-- <div style="border-bottom: 1px solid grey;"></div> -->

    <!-- <div class="dropdown-divider"></div> -->
    <!-- <hr class="dropdown-divider" > -->
    <hr>

    <br/>

    
    {% for obj in deployed_nft_objects %}

      <div class="row">

        <div class="col-md-8 offset-md-2 " id="main-card-div">
          
          <div class="card mb-3 " style="max-width: 100%;">
            
            <div class="row no-gutters">
              
              <!-- TODO: media file -->
              <div class="col-md-4">
                <img src="{% static 'images/image_one.png' %}" class="card-img" alt="..." width="220" height="220">
              </div>

              <div class="col-md-8">
              
                <div class="card-body">
  
                  <div class="card-header-div">
  
                    <h4 class="card-title">
                      {{ obj.nft_name }}
                    </h4>
                    <span class="badge rounded-pill bg-info text-dark">NFT Available</span>
                      
                  </div>
                
                  <a class="stretched-link" href="{% url 'user_token_page' profile_id=obj.creator_obj.id %}"></a>
  

                  <i class="bi bi-github">
                    
                  </i>
                  <!-- <i class="bi bi-link"></i> -->
                  <!-- <a href="https://github.com/">Github</a> -->
                  <!-- <span>
                    <i class="bi bi-github"></i> <a href="">Github</a>
                  </span>
                  <span>
                    <i class="bi bi-link"></i> <a href="">Project Website</a>
                  </span> -->
  
                  <p class="card-text" style="padding-top: 8px;">
                    {{ obj.creator_obj.creator_description|safe|truncatechars:150 }}
                  </p>
                  <p class="card-text" >
                    <small class="text-muted">
                      Last updated: {{ obj.nft_updated_at }}
                    </small>
                  </p>
  
                  
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
  

    {% endfor %}




      <!-- <div class="col-md-8 offset-md-2 " id="main-card-div">

        <div class="card mb-3 " style="max-width: 100%;">

          <div class="row no-gutters">
    
            <div class="col-md-4">
              <img src="{% static 'images/image_one.png' %}" class="card-img" alt="..." width="220" height="220">
            </div>
    
            <div class="col-md-8">
              
              <div class="card-body">

                <div class="card-header-div">

                  <h4 class="card-title">
                    CreatorCoin
                  </h4>
                  <span class="badge rounded-pill bg-info text-dark">NFT Available</span>
                    
                </div>
              
                <a class="stretched-link" href="#"></a>

                <i class="bi bi-github"></i>

                <p class="card-text" style="padding-top: 8px;">
                  This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </p>
                <p class="card-text" >
                  <small class="text-muted">
                    Last updated 3 mins ago
                  </small>
                </p>

                
              </div>

            </div>
    
          </div>
    
        </div>

      </div>



      <div class="col-md-8 offset-md-2 " id="main-card-div">

        <a href="">
          
        </a>

        <div class="card mb-3 " style="max-width: 100%;">

          <div class="row no-gutters">
    
            <div class="col-md-4">
              <img src="{% static 'images/image_five.png' %}" class="card-img" alt="..." width="220" height="220">
            </div>
    
            <div class="col-md-8">
              
              <div class="card-body">

                <div class="card-header-div">

                  <h4 class="card-title">
                    CreatorCoin
                  </h4>
                  <span class="badge rounded-pill bg-info text-dark">NFT Available</span>
                    
                </div>

                <a class="stretched-link" href="#"></a>

                <i class="bi bi-github"></i>

                <p class="card-text" style="padding-top: 8px;">
                  This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </p>
                <p class="card-text" >
                  <small class="text-muted">
                    Last updated 3 mins ago
                  </small>
                </p>

                
              </div>

            </div>
    
          </div>
    
        </div>

      </div> -->




      

    <!-- </div> -->


  </div>
  
  <br/>
  <br/>
  



{% endblock %}  




