{% extends 'base.html' %}
{% load static %}



 
{% block content %}

  {% include 'navbar.html' %}

  {% include 'error_models.html' %}

  
  <div class="animate__animated animate__fadeIn container" id="explore-container-main">


    <div class="row" style="padding-top: 2%;">

      <div class="col-12" style="text-align: center;">

        <h3 id="explore-header">Explore</h3>
        <p id="explore-paragraph">
          Discover other amazing creators.
        </p>
        
        <!-- <span style="float: right;">

          <label class="custom-control-label" for="nft-project-select" style="font-weight: bolder;">
            View By:
          </label>
  
          <select class="nft-selection-filter" id="nft-project-select">
            <option value="most_recent" selected>Date Created</option>
            <option value="2">Most Active</option>
          </select>
          
        </span> -->
        

      </div>
    
    </div>

    <!-- <div style="border-bottom: 1px solid grey;"></div> -->

    <!-- <div class="dropdown-divider"></div> -->
    <!-- <hr class="dropdown-divider" > -->
    <hr>

    <br/>
    

    {% for obj in deployed_nft_objects %}

      <div class="row">

        <div class="col-md-8 offset-md-2 " id="main-card-div">
          
          <div class="card mb-3 " style="max-width: 100%;">
            
            <div class="row no-gutters">
  
              {% if obj.user_three_dim_upload is False %}

                <div class="col-md-4">
                  <img src="{{ obj.nft_obj.nft_media_file.url }}" class="card-img" alt="..." width="220" height="220">
                </div>
              
              {% else %}

                <div class="col-md-4">

                  <model-viewer 
                    style=" padding-right: 15px; height: 225px;"
                    src="{{ obj.nft_obj.nft_media_file.url }}"
                    ar ar-modes="webxr scene-viewer quick-look" 
                    camera-controls
                    camera-orbit="250deg 85deg 125%"
                    shadow-intensity="1"
                    auto-rotate
                    rotation-per-second="250%"
                  ></model-viewer>

                </div>

              {% endif %}


              <div class="col-md-8">
              
                <div class="card-body">
  
                  <div class="card-header-div">
  
                    <h4 class="card-title">
                      <!-- {{ obj.nft_obj.nft_name }} -->
                      {{ obj.nft_obj.creator_obj.creator_name }}
                    </h4>
                    <!-- <span class="badge rounded-pill bg-info text-dark">NFT Available</span> -->
                    
                    {% if obj.nft_obj.nft_deployed is True %}
                      <span class="badge rounded-pill bg-primary">NFT is live!</span>
                    {% endif %}
                      
                  </div>
                
                  <a class="stretched-link" href="{% url 'user_token_page' profile_id=obj.nft_obj.creator_obj.id %}"></a>

                  <i class="bi bi-github">
                    
                  </i>
                  <!-- <i class="bi bi-link"></i> -->
                  <!-- <a href="https://github.com/">Github</a> -->
                  <!-- <span>
                    <i class="bi bi-github"></i> <a href="">Github</a>
                  </span>
                  <span>
                    <i class="bi bi-link"></i> <a href="">Project Website</a>
                  </span> -->

                  <p class="card-text" style="padding-top: 8px;">
                    {% if obj.nft_obj.creator_obj.creator_description is None or obj.nft_obj.creator_obj.creator_description == '' %}
                      Creator has not made a description yet...
                    {% else %}
                      {{ obj.nft_obj.creator_obj.creator_description|safe|truncatechars:150 }}
                    {% endif %}
                  </p>
  
                  <!-- <p class="card-text" style="padding-top: 8px;">
                    {{ obj.nft_obj.creator_obj.creator_description|safe|truncatechars:150 }}
                  </p> -->
                  <p class="card-text" >
                    <small class="text-muted">
                      Last updated: {{ obj.nft_obj.nft_updated_at }}
                    </small>
                  </p>
  
                  
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
  
    {% endfor %}


    {% for obj in non_deployed_nft_objects %}

      <div class="row">

        <div class="col-md-8 offset-md-2 " id="main-card-div">
          
          <div class="card mb-3 " style="max-width: 100%;">
            
            <div class="row no-gutters">
  
              {% if obj.user_three_dim_upload is False %}

                <div class="col-md-4">
                  <img src="{{ obj.nft_obj.nft_media_file.url }}" class="card-img" alt="..." width="220" height="220">
                </div>
              
              {% else %}

                <div class="col-md-4">
                  
                    <!-- padding-right: 15px; padding-top: 10px; -->
                    <!-- padding-top: 20px; padding-right: 10px;  -->
                                    <!-- ar ar-modes="webxr scene-viewer quick-look"
                    camera-controls -->
                    <!-- padding-right: 10px; -->
                    <model-viewer 
                    style=" padding-right: 15px; height: 225px;"
                    src="{{ obj.nft_obj.nft_media_file.url }}"
                    camera-orbit="270deg 85deg 100%"
                    shadow-intensity="1"
                    camera-controls
                    rotation-per-second="220%"
                  ></model-viewer>

                </div>

              {% endif %}


              <div class="col-md-8">
              
                <div class="card-body">
  
                  <div class="card-header-div">
  
                    <h4 class="card-title">
                      <!-- {{ obj.nft_obj.nft_name }} -->
                      {{ obj.nft_obj.creator_obj.creator_name }}
                    </h4>


                    <span class="badge rounded-pill bg-success" >Creator has created an NFT, but it is not minted yet.</span>
                    
                  </div>
                
                  <a class="stretched-link" href="{% url 'user_token_page' profile_id=obj.nft_obj.creator_obj.id %}"></a>

                  <i class="bi bi-github">
                    
                  </i>
                  <!-- <i class="bi bi-link"></i> -->
                  <!-- <a href="https://github.com/">Github</a> -->
                  <!-- <span>
                    <i class="bi bi-github"></i> <a href="">Github</a>
                  </span>
                  <span>
                    <i class="bi bi-link"></i> <a href="">Project Website</a>
                  </span> -->
  
                  <!-- <p class="card-text" style="padding-top: 8px;">
                    {{ obj.nft_obj.creator_obj.creator_description|safe|truncatechars:150 }}
                  </p> -->

                  <p class="card-text" style="padding-top: 8px;">
                    {% if obj.nft_obj.creator_obj.creator_description is None or obj.nft_obj.creator_obj.creator_description == '' %}
                      Creator has not made a description yet...
                    {% else %}
                      {{ obj.nft_obj.creator_obj.creator_description|safe|truncatechars:150 }}
                    {% endif %}
                  </p>

                  <p class="card-text" >
                    <small class="text-muted">
                      Last updated: {{ obj.nft_obj.nft_updated_at }}
                    </small>
                  </p>
  
                  
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
  

    {% endfor %}




    {% for obj in all_other_profiles %}
      
    <div class="row">

      <div class="col-md-8 offset-md-2 " id="main-card-div">
        
        <div class="card mb-3 " style="max-width: 100%;">

          <div class="row no-gutters">
  
            <div class="col-md-4">
              
              <model-viewer 
                style=" padding-right: 15px; height: 225px;"
                src="{% static '3d_model/placeholder_new.glb' %}"
                camera-orbit="270deg 85deg 100%"
                shadow-intensity="1"
                rotation-per-second="220%"
                camera-controls
              ></model-viewer>

            </div>


            <div class="col-md-8">
            
              <div class="card-body">

                <div class="card-header-div">

                  <h4 class="card-title">
                    {% if obj.creator_name is None %}
                      Creator has not entered a name yet &#128533;
                    {% else %}
                      {{ obj.creator_name }}
                    {% endif %}
                    
                  </h4>

                  <span class="badge rounded-pill bg-light text-black">Creator has not created an NFT yet.</span>                    
                    
                </div>
              
                <a class="stretched-link" href="{% url 'user_token_page' profile_id=obj.id %}"></a>

                <p class="card-text" style="padding-top: 8px;">
                  {% if obj.nft_obj.creator_obj.creator_description is None or obj.nft_obj.creator_obj.creator_description == '' %}
                    Creator has not made a description yet...
                  {% else %}
                    {{ obj.creator_description|safe|truncatechars:150 }}
                  {% endif %}
                </p>

                <p class="card-text" >
                  <small class="text-muted">
                    Last updated: {{ obj.updated_at }}
                  </small>
                </p>
                
              </div>

            </div>
            
          </div>

        </div>

      </div>

    </div>
    

    {% endfor %}


  </div>
  
  <br/>
  <br/>


{% endblock %}  





