{% extends 'base.html' %}
{% load static %}


{% block content %}


  {% include 'navbar.html' %}

  {% include 'error_models.html' %}


  <main class="animate__animated animate__fadeIn main-body">

    <section class="divider py-5 ">

      <div class="container-fluid">
        
        <div class="row justify-content-center align-items-center">          
          
          <div class="col-7" style="margin-top: -4em;">

            <p class="home-header" >
              A place for <span class="word-changer">Engineers</span> to mint an ERC-721 token of themselves...
            </p>

            <p class="home-description"> 
              CreatorCoin serves as a medium to help individual's fund their personal 
              side projects. Creators can easily launch a NFT of themselves on the platform.
              Supporters can purchase the NFT, and benefit through NFT ownership. 
              If it sounds interesting, either join as a creator, or buy CreatorCoin's own NFT!              
              <a href="#about">See the Demo!</a>

              <div class="col-sm-9 col-sm-offset-9">

                <div style="padding-top: 1em; font-weight: 700; font-size: 14px; color: #808080;">
                  <!-- <b>Currently in <strong>beta.</strong></b> -->
                  <span style="font-size: 15px;">Currently in beta, on GOERLI Testnet! </span>
                  <i>
                    Only 
                    <a href="https://metamask.io/" target="_blank" rel="noopener noreferrer">MetaMask</a>
                    Supported.
                  </i>
                </div>

                <!-- {% if anon_user is True %}

                  <form method="post" id="join_beta_form">{% csrf_token %}
                    <div class="input-group input-group-lg" style="padding-top: 10px;">
                      <input id="user_email_value" type="text" class="form-control" name="user_email" placeholder="your trustworthy email..." aria-label="creator email" aria-describedby="emailHelp" required>
                      <button type="submit" id="join_beta_button" class="btn btn-dark" style="color: white;">Join as a Creator!</button>
                    </div>
                  </form>

                  <div id="success_message" style="color: limegreen; display: none;">
                    Thank you. We have got your email.
                  </div>
                  
                  <div id="duplicate_message" style="color: limegreen; display: none;">
                    Your email is already registered. 
                    If you haven't received an email from us, send an email to creatorcoin42@gmail.com
                  </div>

                  <div style="padding-top: 1em; font-weight: 700; font-size: 14px; color: #808080;">
                    We will NEVER spam you.
                  </div>

                {% else %}

                <div style="padding-top: 1em; font-weight: 700; font-size: 14px; color: #808080;">
                  <i>
                    Only 
                    <a href="https://metamask.io/" target="_blank" rel="noopener noreferrer">MetaMask</a>
                    Supported.
                  </i>                  
                </div>

                {% endif %} -->

              </div>

            </p>

          </div>


          <div class="col-4">

            <h2 class="homepage-nft-title">CreatorCoin's First NFT</h2>

            {% if creator_coin_nft_object is not None  %}

              <model-viewer 
              src="{% static '3d_model/new_three.glb' %}"  
              ar ar-modes="webxr scene-viewer quick-look" 
              camera-controls
              camera-orbit="280deg 85deg 125%"
              shadow-intensity="1"
              auto-rotate
              rotation-per-second="200%"
              style="width: 400px; height: 400px;" 
              ></model-viewer>
            
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Example with label" style="width: {{ nft_total_sold }}%;" aria-valuenow="{{ nft_total_sold }}" aria-valuemin="0" aria-valuemax="100">
                  {{ nft_total_sold }}
                </div>
              </div>
              <p id="home_page_nft">
                <a href="{% url 'user_token_page' profile_id=6 %}">View NFT</a> | Price: {{ creator_coin_nft_object.nft_price }} <img src="{% static 'images/eth-diamond-black.png' %}"  alt="..." width="8" height="12"> | Supply: {{ creator_coin_nft_total_supply }} left
              </p>

            {% else %}

              <model-viewer 
              src="{% static '3d_model/new_three.glb' %}"  
              ar ar-modes="webxr scene-viewer quick-look" 
              camera-controls
              camera-orbit="280deg 85deg 125%"
              shadow-intensity="1"
              auto-rotate
              rotation-per-second="200%"
              style="width: 400px; height: 400px;" 
              ></model-viewer>
            
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  25
                </div>
              </div>
              <p id="home_page_nft">
                <!-- TODO: Link CreatorCoin's NFT on homepage -->
                <a href="{% url 'user_token_page' profile_id=6 %}">View NFT</a> | Price: 0.1 <img src="{% static 'images/eth-diamond-black.png' %}"  alt="..." width="8" height="12"> | Supply: 978 left
              </p>


            {% endif %}

          </div>

        </div>

      </div>

    </section>
    
    <!-- <section class="divider py-5 ">

      <div class="row justify-content-center align-items-center">

        <div class="col-md-8"  align="center">

          <i class="bi bi-arrow-down-short" style="font-size: 3em;"></i>

        </div>        

      </div>      
 
    </section> -->

    <!-- <section class="divider py-5 "></section> -->
    <!-- <br/><br/><br/><br/><br/> -->
 
    <div class="container-fluid" >

      <section id="about" class="text-center">

        <h2 class="my-4 homepage-video-title">
          <strong>
            Watch how it works:
          </strong>
        </h2>
               
        <div class="row justify-content-center align-items-center">

          <div class="col-md-12 text-right" style="color: black;">

            <div class="embed-responsive embed-responsive-21by9" >
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UBEnxe-oZ20" width="800" height="460" allowfullscreen></iframe>
            </div>
          
          </div>

        </div>

      </section>


    </div>

 
<!-- TODO: Add the icons rather than numbers and go from there; ensure padding top/down and left/right is perfect -->
    <!-- **proceed a bit faster from here; UI looks okay, and would look ideal with gradients so good to move on -->
 
    <section id="team" class="text-center" style="padding-top: 1em;">

      <div class="container-fluid">

        <br/>

        <div class="row justify-content-center">
          
          <div class="col-md-4" style="padding-left: 50px;">

            <h3>
              Step: 
              <i class="bi bi-1-square" ></i>
            </h3>
            <p class="homepage-helper-text">
              To become a creator on the platform, you first start by signing up, and creating a profile.              
            </p>
            
          </div>


          <div class="col-md-4" style="padding-left: 50px;">

            <h3>
              Step: 
              <i class="bi bi-2-square"></i>
            </h3>
            <p class="homepage-helper-text">
              After describing what you are currently building and <strong><a href="https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps" target="_blank" rel="noopener noreferrer">adding your github</a></strong>, 
              you can create your NFT. &#127881;
            </p>

          </div>


          <div class="col-md-4" style="padding-left: 50px;">

            <h3>
              <!-- <i class="bi bi-3-circle"></i> -->
              <!-- &#127881; -->
              Step: 
              <i class="bi bi-3-square"></i>
            </h3>
            <p class="homepage-helper-text">
              <!-- Everyday, several new NFT's will be shown on the homepage. -->
              Once your NFT is minted, people can <a href="{% url 'explore_project' %}">explore</a>
              and buy NFT's for the creator's they want to support!
            </p>
            
          </div>


        </div>

      </div>

    </section>

  </main>

  
  <br/>
  <br/>





<script>


  var homepageCSRFTok = '{{ csrf_token }}'


  var currentCount = 0;
  var changeWordList = [
    "Engineers", "Researchers", "Hackers", "Builders"
  ]

  function _changeText() {
    let el = document.getElementsByClassName('word-changer')[0];
    let totalListCount = changeWordList.length;

    currentCount += 1

    if (currentCount <= totalListCount-1){
      let word = changeWordList[currentCount]
      el.innerHTML = word
      
    } else {
      currentCount = 0
      let word = changeWordList[currentCount]
      el.innerHTML = word

    }    

  }

  setInterval(_changeText, 2000);
  

</script>



{% endblock %}




 
 

