{% extends 'base.html' %}
{% load static %}


{% block content %}

  {% include 'navbar.html' %}

 
  <!-- Modal Error for: User did not install metamask -->
  <div class="modal" tabindex="-1" id="loginErrorOne">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Does Metamask exist &#10067;</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Metamask is not installed! Please install the metamask extension and try again! Only Metamask wallet supported. Thank you.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- User has metamask but wallet is locked; prompt user to login to wallet and try again -->
  <div class="modal" tabindex="-1" id="loginErrorTwo">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login to your beloved wallet! &#10084;</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            It seems like your Metamask wallet is locked. Please login to your Metamask wallet and try again.
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  
    <!-- More generic error message; when the user-nonce-request is rejected -->
    <div class="modal" tabindex="-1" id="loginErrorThree">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Unknown &#10084;</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              <!-- TODO: update error message -->
              Something weird is happening...
            </p>
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
  
        </div>
      </div>
    </div>
  




  <main class="animate__animated animate__fadeIn main-body">

    <section class="divider py-5 ">

      <div class="container-fluid">
        
        <div class="row justify-content-center align-items-center">          
          
          <div class="col-7" style="margin-top: -4em;">

            <p class="home-header" >
              A place for <span class="word-changer">Engineers</span> to mint a ERC-721 token of themselves...
            </p>

            <p class="home-description"> 
              CreatorCoin serves as a medium to help individual's fund their personal 
              side projects. Creators can easily launch a NFT of themselves, on the platform.
              Supporters can purchase the NFT, and benefit through NFT ownership.
              <b>Currently in private beta.</b>
              <a href="#about">See the Demo!</a>

              <div class="col-sm-9 col-sm-offset-9">

                <form method="post" id="join_beta_form">{% csrf_token %}
                  <div class="input-group input-group-lg" style="padding-top: 10px;">
                    <input id="user_email_value" type="text" class="form-control" name="user_email" placeholder="your trustworthy email..." aria-label="Recipient's username with two button addons" aria-describedby="emailHelp" required>
                    <button type="submit" id="join_beta_button" class="btn btn-dark" style="color: white;">Join as a Creator!</button>
                  </div>
                </form>

                <div id="success_message" style="color: limegreen; display: none;">
                  Thank you. We have got your email.
                </div>
                
                <!-- TODO: change the email primary contact -->
                <div id="duplicate_message" style="color: limegreen; display: none;">
                  Your email is already registered. 
                  If you haven't received an email from us, send an email to duggalr42@gmail.com 
                </div>

                <div style="padding-top: 1em; font-weight: 700; font-size: 14px; color: #808080;">
                  <!-- <i>
                    Only 
                    <a href="https://metamask.io/" target="_blank" rel="noopener noreferrer">MetaMask</a>
                    Supported.
                  </i> -->
                  <!-- <i>After entering your email, we will reach out. Currently in Beta!</i> -->
                  We will NEVER spam you.
                </div>


                <!-- <p>
                  you have successfully signed up! 
                </p> -->
  

              </div>

              <!-- <br/>
              <a href="{% url 'explore_project' %}" class="btn btn-outline-secondary btn-lg" role="button">
                View CreatorCoin's NFT 
              </a> -->

              <!-- <ul class="home-description">
                <li>A Creator can launch a NFT for themselves, to help fund their ongoing project(s).</li>
                <li>Supporters can buy the NFT, and benefit through NFT ownership.</li>
                <li><a class="home-manifesto" href="">Watch video to see how it works.</a></li>
              </ul> -->
    
              <!-- A creator can launch a NFT for themselves, to help fund their ongoing project(s).
              Supporters of the creator can buy the NFT, and benefit through NFT ownership. -->
              <!-- Early backers benefit, through NFT ownership.
              Creator's launch a token, of themselves, to help fund their ongoing project(s).
              Early backers benefit, through token ownership.
              <s>
                It is intended to help support the 'research & exploratory' phases 
                of projects, while at the same time, benefiting the early backers through token ownership. 
              </s> -->
              <!-- <a class="home-manifesto" href="">
                View Video
              </a> -->

            </p>

          </div>


          <div class="col-4">

            <model-viewer 
            src="{% static '3d_model/new_three.glb' %}"  
            ar ar-modes="webxr scene-viewer quick-look" 
            camera-controls
            camera-orbit="280deg 85deg 125%"
            shadow-intensity="1"
            auto-rotate
            rotation-per-second="300%"
            style="width: 400px; height: 400px;" 
            ></model-viewer>
          
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                25%
              </div>
            </div>
            <p id="home_page_nft">
              <a href="{% url 'user_token_page' profile_id=2 %}">Visit NFT Page</a> | Price: 0.1 <img src="{% static 'images/eth-diamond-black.png' %}"  alt="..." width="8" height="12"> | Supply: 978 left
            </p>

          </div>

        </div>

      </div>

    </section>
    
    <!-- <section class="divider py-5 ">

      <div class="row justify-content-center align-items-center">

        <div class="col-md-8"  align="center">

          <i class="bi bi-arrow-down-short" style="font-size: 3em;"></i>

        </div>        

      </div>      
 
    </section> -->

    <!-- <section class="divider py-5 "></section> -->
    <!-- <br/><br/><br/><br/><br/> -->
 
    <div class="container-fluid" >

      <section id="about" class="text-center">

        <h2 class="my-4">
          <strong>
            Here's how it works:
          </strong>
        </h2>
               
        <div class="row justify-content-center align-items-center">

          <div class="col-md-12 text-right" style="color: black;">

            <div class="embed-responsive embed-responsive-21by9" >
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UBEnxe-oZ20" width="800" height="460" allowfullscreen></iframe>
            </div>
          
          </div>

        </div>

      </section>


    </div>

 
<!-- TODO: Add the icons rather than numbers and go from there; ensure padding top/down and left/right is perfect -->
    <!-- **proceed a bit faster from here; UI looks okay, and would look ideal with gradients so good to move on -->
 
    <section id="team" class="text-center" style="padding-top: 1em;">

      <div class="container-fluid">

        <br/>

        <div class="row justify-content-center">
          
          <div class="col-md-4" style="padding-left: 50px;">

            <h3>
              <i class="bi bi-1-square" ></i>
            </h3>
            <p style="font-size: 17px;">
              <!-- A creator can signup on the platform and create a user profile.  -->
              A creator signup's on the platform and create's a user profile.
            </p>
            
          </div>


          <div class="col-md-4" style="padding-left: 50px;">

            <h3>
              <i class="bi bi-2-square"></i>
            </h3>
            <p style="font-size: 17px;">
              After <a href="https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps">verifying</a> their Github, 
              the creator can launch their NFT. Everyday, several new NFT's will be shown on the homepage.            
            </p>

          </div>


          <div class="col-md-4" style="padding-left: 50px;">

            <h3>
              <!-- <i class="bi bi-3-circle"></i> -->
              &#127881;
            </h3>
            <p style="font-size: 17px;">
              Supporters can explore the NFT's on the platform 
              and buy ones they like.
            </p>
            
          </div>


        </div>

      </div>

    </section>

  </main>

  
  <br/>

  <footer>

    <footer class="bg-black text-white text-center text-lg-left">
    
      <!-- Copyright -->
      <div
        class="text-center p-0"
        style="background-color: rgba(0, 0, 0, 0.2);"
      >
        © 2022
        <!-- <a class="text-white" href="https://mdbootstrap.com/"
          >Rahul Production</a
        > -->
        
      </div>
      <!-- Copyright -->

    </footer>
    
  </footer>






<script>

  


  var tok = '{{ csrf_token }}'
  // console.log('tok:', tok);

  // TODO: finish this and go from there
  $('#join_beta_form').submit(function(e){

    e.preventDefault();

    var user_email = $('#user_email_value').val();
    $.ajax({
      type: 'POST',
      url: "",
      data: {
        'user_email': user_email,
        csrfmiddlewaretoken: tok
      },
      success: function (response) {
        console.log('res:', response);
        
        if (response['success'] === true){

          // success_message
          
          $('#join_beta_form').hide();
          $('#success_message').show();

        } else if (response['duplicate'] === true){

          $('#join_beta_form').hide();
          $('#duplicate_message').show();

        }

      }

    })

  })


  var currentCount = 0;

  var changeWordList = [
    "Engineers", "Researchers", "Hackers", "Builders"
  ]

  function _changeText() {
    let el = document.getElementsByClassName('word-changer')[0];
    // console.log(el)

    let totalListCount = changeWordList.length;
    // console.log(totalListCount, currentCount)

    currentCount += 1

    if (currentCount <= totalListCount-1){
      let word = changeWordList[currentCount]
      el.innerHTML = word
      
    } else {
      currentCount = 0
      let word = changeWordList[currentCount]
      el.innerHTML = word

    }    

    // //iterate over all .word-changer elements
    // for (let i = 0; i < els.length; i++) {
    //   let el = els[i];
    //   // read out elements data-counter and data-max attributes
    //   let counter = parseInt(el.dataset.counter);
    //   let max =  parseInt(el.dataset.max);
      
    //   if(counter < max ) {
    //     // Update counter and replace word based on the "hashmap"
    //       counter++;
    //     el.innerHTML = changeList[el.textContent]; // This is where the words get swapped
    //     el.dataset.counter = counter;
    //   }

    // }

  }


  setInterval(_changeText, 2000);


  

</script>



{% endblock %}




 
 

