{% extends 'base.html' %}
{% load static %}


{% block content %}

  {% include 'navbar.html' %}



  <div class="main-body" >

    <div class="animate__animated animate__fadeIn  container">
      
      <div class="row">

        <div class="col-12" style="text-align: center;">
          
          <h3 id="explore-header">
            <!-- <i class="bi bi-pencil-fill" style="font-size: 20px;"></i> Create -->
            Create your NFT <i class="bi bi-chevron-down" style="font-size: 20px;"></i>
          </h3>
          
          <p id="explore-paragraph">            
            <i>
              &#127881; Complete the form to launch your NFT! &#127881;
            </i>
          </p>

        </div>
        

      </div>


      <hr class="bg-danger border-1 border-top border-dark">


      <div class="row" > 

        <!-- <div class="col-4">

          <input type="file" name="nft_image_upload" accept="image/*" style="display:none">
          <label for='nft_image_upload' id="main_nft_image_upload">
            <img id="nft_image_placeholder" src="{% static 'images/question-mark.png' %}" class="rounded float-start" width="280" height="330" style="border: 0.8px dashed black;">
          </label>

        </div> -->


        <div class="col-8">

          <form id="project_form" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="form-group row mb-3">

              <label for="token_name" class="col-sm-2 col-form-label">
                <strong>
                  Name:
                </strong>
              </label>

              <div class="col-sm-7">
                <input type="text" class="form-control" id="token_name" name="token_name" placeholder="your name + coin at the end?" value="{{ creator_profile.creator_name }}">
              </div>

            </div>


            <!-- <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              
            </div> -->

            <!-- <div class="form-group row mb-3">

              <label for="token_name" class="col-sm-2 col-form-label">
                <strong>
                  Token Symbol:
                </strong>
              </label>

              <div class="col-sm-4">
                <input type="text" class="form-control" id="token_name" name="token_name" placeholder="3 special characters (max)" maxlength="3">
              </div>

            </div> -->


            <div class="form-group row mb-3">

              <label for="token_name" class="col-sm-2 col-form-label">
                <strong>
                  Fixed Price:
                </strong>
              </label>

              <!-- TODO: how many max letters for token? -->
              <div class="col-sm-4">
                
                <div class="input-group mb-3">
                
                  <span class="input-group-text" id="basic-addon1">
                    <img src="{% static 'images/eth-diamond-black.png' %}"  alt="..." width="8" height="12">
                    &nbsp;
                    <strong>ETH</strong>
                  </span>
  
                  <input id="token_price_field" type="text" class="form-control" placeholder="Amount (ie. 1.2)" aria-label="Amount" aria-describedby="basic-addon1" >
                  
                </div>

                <div class="form-text" id="token_price_div" style="color: red;"></div>

              </div>

            </div>

            
            <!-- TODO: add price and jquery messaging like open-sea and go from there -->
            <!-- <div class="form-group row mb-3"> -->

              <!-- <label class="sr-only" for="exampleInputAmount">Amount (in Swiss Francs)</label>
              <div class="col-sm-4">
                <input type="number" min="0.00" max="10000.00" step="0.01"/>
              </div> -->

            <!-- </div> -->


 
            <div class="form-group row mb-3">

              <label for="customRange2" class="col-sm-2 col-form-label">
                <strong>
                  Number of NFT's available for first sale:
                </strong>                
              </label>
              
              <div class="col-sm-7">
                <!-- <input type="range" value="24" min="1" max="100" oninput="this.nextElementSibling.value = this.value"> -->
                <input type="range" class="form-range" value="100" min="1" max="5000" id="customRange2" oninput="this.nextElementSibling.value = this.value">
                <output>
                  <strong>
                    100
                  </strong>
                </output>
                <div class="form-text">(Current Limit is 5000. More can be created later on.)</div>
              </div>
              
            </div>

            
            <br/>

            <input type="hidden" id="user_obj" name="user_obj" value="{{ user_object }}">

            <!-- <button class="ui button" type="submit">Submit</button> -->
            <button style="text-align: center;" type="submit" class="btn btn-outline-info">Submit</button>


          </form>

        </div>


      </div>


    </div>

  </div>    




  <script>
  
  

    $('#token_price_field').on('input',function(e){
      
      $('#token_price_div').text('');

      var field_val = $('#token_price_field').val();
      console.log('val', field_val);
      
      // Thanks: https://stackoverflow.com/questions/21494747/price-field-validation-using-javascript-either-jquery
      var validatePrice = function(price) {
        return /^(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/.test(price);
      };

      console.log('valid:', validatePrice(field_val) )
      var valid_input = validatePrice(field_val);
      if (valid_input === true){

        var usd_conversion_rate = 1242.01
        var usd_price = usd_conversion_rate * parseFloat(field_val)
        console.log('usd-price:', usd_price, parseFloat(field_val))

        // $('#token_price_div').text( 'Approximately $' + Math.round(usd_price) + ' USD / Token' );
        $('#token_price_div').text( 'Approximately $' + usd_price + ' USD / NFT' );

      } else {

        $('#token_price_div').text('please enter a valid price.');

      }
      

    });

  </script>

  

{% endblock %}




0.000804000 ETH * 1



  


