{% extends 'base.html' %}
{% load static %}


{% block content %}

  {% include 'navbar.html' %}



  <div class="main-body" >

    <div class="animate__animated animate__fadeIn  container">
      
      <div class="row">

        <div class="col-12" style="text-align: center;">
          
          <h3 id="explore-header">
            <!-- <i class="bi bi-pencil-fill" style="font-size: 20px;"></i> Create -->
            Create your NFT
            <!-- <i class="bi bi-chevron-down" style="font-size: 20px;"></i> -->
          </h3>
          
          <p id="explore-paragraph">
            <i>
              Here's a &#129346; to your success!
            </i>
          </p>

        </div>
        

      </div>


      <hr class="bg-danger border-1 border-top border-dark">


      <form id="project_form" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="row" style="margin-left: 40px; padding-top: 10px;"> 

          <div class="col-4">

            <h5>
              <strong>
                NFT Image Upload
              </strong>
              <span style="color: red;">*</span>
            </h5>
            

            <div id="image_container">

              {% if nft_uploaded_image_url is not None %}

                {% if user_upload_3d_model is True %}
                
                    <model-viewer 
                    id="container_image_element"
                    src="{{ nft_uploaded_image_url }}"
                    camera-orbit="250deg 85deg 125%"
                    camera-controls
                    shadow-intensity="1"
                    style="width: 340px; height: 340px;" 
                    ></model-viewer>

                {% else %}
                  
                  <img id="container_image_element" src="{{ nft_uploaded_image_url }}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5; " >

                {% endif %}

              {% endif %}

            </div>


            <div style="margin-top: 20px"></div>


            {% if nft_uploaded_image_url is None %}

              <input id="nft_image_upload" type="file" name="nft_image_upload" style="display:none" />

            {% else %}
              
                <input id="nft_image_upload" type="file" name="nft_image_upload" />

            {% endif %}

            
            <!-- <input id="nft_image_upload" type="file" name="nft_image_upload"  required /> -->
            <!-- <button id="upload_different_file_button" style="display: none;" onclick="document.getElementById('nft_image_upload').click()">Choose different file</button> -->

            {% if nft_uploaded_image_url is None %}

              <label for='nft_image_upload' id="main_nft_image_upload">
                <img id="nft_image_placeholder" src="{% static 'images/placeholder_image.webp' %}" width="280px" style="border-radius: 5%; box-shadow: 5px 5px #F5F5F5;" >
              </label>

            {% endif %}

            <span style="color: grey;">Supported File Types: JPG, PNG, GIF, WEBP, SVG, GLB, GLTF. Max size: 100 MB</span>
            <br/><br/>
            <span style="color: red; display: none;" id="image_upload_error_message">invalid data... image or obj only</span>
    
          </div>


          <div class="col-8" style="padding-left: 40px; padding-top: 10px;">

            <div class="form-group row mb-3">

              <label for="token_name" class="col-sm-2 col-form-label">
                <strong>
                  Name:
                </strong>
                <span style="color: red;">*</span>
              </label>

              <div class="col-sm-8">
                <input type="text" class="form-control" id="token_name" name="token_name" placeholder="nft name" value="{{ nft_name }}" required>
              </div>

            </div>


            <div class="form-group row mb-3">

              <label for="token_symbol" class="col-sm-2 col-form-label">
                <strong>
                  Symbol:
                </strong>
                <!-- <span style="color: red;">*</span> -->
              </label>

              <div class="col-sm-2">
                <input type="text" class="form-control" id="token_symbol" name="token_symbol" placeholder="optional.." value="{{ nft_symbol }}" maxlength="3">
                <div class="form-text">Max 3 letters!</div>
              </div>

            </div>


            <div class="form-group row mb-3">

              <label for="token_name" class="col-sm-2 col-form-label">
                <strong>
                  Fixed Price:
                </strong>
                <span style="color: red;">*</span>
              </label>

              <div class="col-sm-4">
                
                <div class="input-group mb-3">
                
                  <span class="input-group-text" id="basic-addon1">
                    <img src="{% static 'images/eth-diamond-black.png' %}"  alt="..." width="8" height="12">
                    &nbsp;
                    <strong>ETH</strong>
                  </span>
  
                  <input id="token_price_field" name="token_price_field" type="text" class="form-control" placeholder="Amount (ie. 1.2)" aria-label="Amount" aria-describedby="basic-addon1" value="{{ nft_price }}" required>
                
                  <!-- <div class="form-text" id="token_price_div" style="color: gray;"></div> -->
                </div>

                <div class="form-text" id="token_price_div" style="color: gray;"></div>

              </div>

            </div>


            <div class="form-group row mb-3">

              <label for="customRange2" class="col-sm-2 col-form-label">
                <strong>
                  Total NFT Supply:
                </strong>
                <span style="color: red;">*</span>
              </label>
              
              <div class="col-sm-7">
                
                {% if nft_total_supply is not None %}

                  <input name="nft_total_supply" type="range" class="form-range" value="{{ nft_total_supply }}" min="1" max="1000" id="nft_total_supply" oninput="this.nextElementSibling.value = this.value" required>
                  <output>
                    <strong>
                      {{ nft_total_supply }}
                    </strong>
                  </output>

                {% else %}

                  <input name="nft_total_supply" type="range" class="form-range" value="500" min="1" max="1000" id="nft_total_supply" oninput="this.nextElementSibling.value = this.value" required>
                  <output>
                    <strong>
                      500
                    </strong>
                  </output>

                {% endif %}

                <div class="form-text">(Initial Platform Limit of 5000. More can be minted later on.)</div>
              </div>
              
            </div>


            <br/>

            <!-- <input type="hidden" id="user_obj" name="user_obj" value="{{ user_object }}"> -->


            <div class="form-group row mb-3">

              <!-- <label for="customRange2" class="col-sm-2 col-form-label">
                <strong>
                  Number of NFT's available:
                </strong>
              </label> -->
              
              <input type="hidden" id="user_obj" name="user_obj" value="{{ user_object }}">
              <input type="hidden" id="user_nft_obj" name="user_nft_obj" value="{{ user_nft_obj.id }}">
              
              
              <!-- {% if user_editing is True %}
              
                <div class="col-sm-7">
                  <button type="submit" class="btn btn-outline-primary">Edit your NFT</button>
                </div>
              {% else %}
                <div class="col-sm-7">
                  <button type="submit" class="btn btn-outline-primary">Create your NFT</button>
                </div>
              {% endif %} -->

              <div class="col-sm-7">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
              </div>              
              
            </div>


            {% if form_validation_error %}

              <div style="color: red; font-size: 16px;">
                <!-- Your form submission was not valid. Please correct and try again. -->
                {{ form_validation_error_message }}
              </div>

            {% endif %}

          </div>

        </div>


        <!-- <div class="row">

          <div class="col-8">
            <button type="submit" class="btn btn-outline-info">Submit</button>
          </div>
  

        </div> -->


        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-right: 52%;">
          <button type="submit" class="btn btn-outline-info">Submit</button>
        </div> -->


        <!-- <div class="mx-auto" style="width: 200px;">
          <button type="submit" class="btn btn-outline-info">Submit</button>
        </div> -->
        

      </form>


    </div>

  </div>    

  <br/>
  <br/>




  <script>
  

    var current_ether_usd_conversion_rate = 1571.76

    $('#token_price_field').on('input',function(e){
      
      $('#token_price_div').text('');

      var field_val = $('#token_price_field').val();
      // console.log('val', field_val);
      
      // Thanks: https://stackoverflow.com/questions/21494747/price-field-validation-using-javascript-either-jquery
      var validatePrice = function(price) {
        return /^(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/.test(price);
      };

      // console.log('valid:', validatePrice(field_val) )
      var valid_input = validatePrice(field_val);
      if (valid_input === true){

        // var usd_conversion_rate = 1301.91
        var usd_price = current_ether_usd_conversion_rate * parseFloat(field_val)
        // console.log('usd-price:', usd_price, parseFloat(field_val))

        var rounded_usd_price = Number((usd_price).toFixed(3));

        // $('#token_price_div').text( 'Approximately $' + Math.round(usd_price) + ' USD / Token' );
        $('#token_price_div').text( '~$' + rounded_usd_price + ' USD / NFT' );

      } else {

        $('#token_price_div').text('please enter a valid price.');

      }

    });





  document.querySelector('#nft_image_upload').addEventListener('change', function(e) {
    // console.log('files:', this.files, this.files.length)
    
    $('#container_image_element').remove()
    document.getElementById('image_upload_error_message').style.display = 'none';

    var max_file_size = 100; 

    if (this.files && this.files.length == 1){

      // const validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/webp'];
      
      const validExtTypes = ['png', 'jpg', 'gif', 'webp', 'obj', 'glb', 'gltf', 'svg'];

      var userFile = this.files[0];
      // var fileType = userFile["type"];
      // console.log('file-type:', fileType);

      var userFileSize = userFile.size / 1024 / 1024;
      
      // console.log('file-size:', userFile, userFile.size / 1024 / 1024 )

      if (userFileSize <= max_file_size){

        var fileName = userFile["name"];
        var fileExt = fileName.split('.').pop()

        if (!validExtTypes.includes(fileExt)){
          document.getElementById('image_upload_error_message').style.display = '';
        }

        else {

          const three_dim_object_file_types = ['glb', 'gltf', 'svg']

          // console.log('file-ext:', fileExt, 'file-name:', fileName);
          if (three_dim_object_file_types.includes(fileExt)){

            var parent_div = document.getElementById('image_container')
            // var model_viewer = document.createElement('model-viewer');        
            // model_viewer.src = URL.createObjectURL(userFile); // set src to blob url
            var model_viewer_html = "<model-viewer id='container_image_element' src='" + URL.createObjectURL(userFile) + "' ar ar-modes='webxr scene-viewer quick-look' camera-controls camera-orbit='250deg 85deg 125%' shadow-intensity='1' auto-rotate rotation-per-second='550%' style='width: 300; height: 300px;'></model-viewer>"        
            parent_div.innerHTML = model_viewer_html
            // parent_div.appendChild(model_viewer)
            // parent_div.appendChild(child_div)
            // parent_div.appendChild(image_elem)

            document.getElementById('main_nft_image_upload').style.display = 'none'
            document.getElementById('nft_image_upload').style.display = ''
            // document.getElementById('upload_different_file_button').style.display = ''

          } else {

            var image_elem = document.createElement('img')
            image_elem.id = 'container_image_element'
            image_elem.src = URL.createObjectURL(userFile); // set src to blob url
            image_elem.style = 'border-radius: 5%; box-shadow: 5px 5px #F5F5F5; width: 100%'
            var main_div = document.getElementById('image_container')
            main_div.appendChild(image_elem)

            document.getElementById('main_nft_image_upload').style.display = 'none'
            document.getElementById('nft_image_upload').style.display = ''
            // document.getElementById('upload_different_file_button').style.display = ''

          }

        }


      } else {

        document.getElementById('image_upload_error_message').style.display = '';

      }


    } else{
      
      // document.getElementById('nft_image_upload').style.display = ''
      // $('#container_image_element').remove()
      document.getElementById('main_nft_image_upload').style.display = ''
      document.getElementById('nft_image_upload').style.display = 'none';


    }


    
  });




  </script>

  

{% endblock %}











