{% extends 'base.html' %}
{% load static %}


{% block content %}

  {% include 'navbar.html' %}


  <div class="row justify-content-center align-items-center py-3">

    <h3 id="manifesto_header">
      "Manifesto"
    </h3>

    <span class="manifesto-helper-text" style="text-align: center;">
      Here's to all the builders. &#129346;
    </span>

    <p class="manifesto_section">

      There seems to be a bit of discrepancy in the world. 
      Many hackers spend their weekends and any ounce of free-time they get, tinkering away and building new stuff.
      If you think about all the great innovations over the past century, they usually originated from there.
      However, the sad reality is, there really isn't any optimal solution to help fund this early work.
      Thus, hackers go to their dreaded 'day-job', to help make ends meet.

      <br/><br/>

      There are donation platforms, like Patreon, which serve as the dominant medium to help fund individuals side projects.
      <!-- Currently, patreon is the dominant medium to help fund individuals side projects.  -->
      People support the creator's work, by subscribing to a monthly donation. 
      The platform is great, and provides immense value to others. 
      However, like many donation-based models, you end up with the <strong>"free-rider problem"</strong>. 
      Only a small % of people actually donate.
      
      <!-- <ul>
        <li>The early supporters usually don't capture any significantly greater value than the future backers.</li>
        <li>Like many donation services, you end up with the "free-rider problem". Only a small % of people actually donate.</li>
      </ul> -->

      <!-- However, usually with patreon and donation services in general, you end up with the "free-rider problem".
      Only a small % of people actually donate.  -->
      <!-- <br/><br/> -->
      <!-- Part of the reason is, the early backers don't necessarily capture any monetary value for their donations. -->
      <br/><br/>
      Let's take Wikipedia.
      I am almost certain everyone viewing this page has visited or fetched knowledge 
      from Wikipedia over the past month. 
      However, how many have actually donated to Wikipedia? 
      And what % of those donate on a monthly basis? 
      Wikipedia provides an immense value to society, but captures very little monetary value for itself. 
      <!-- This more broadly encompasses the problem of "public-good funding". -->
      <br/><br/>
      I quickly put together this site (hence the ultra-basic UI...), to allow hackers to publish a NFT of themselves.
      Similar to <a href="https://hackaday.io/">Hackaday</a>, you can share updates on the project(s) you are working, and add your github.
      To help fund your work, you can easily launch a NFT for yourself. 
      People who like your work, can buy it. 
      <br/><br/>
      The NFT serves as an 'investment', into the creator.
      The creator can enable many exclusive benefits for supporters owning the NFT.
      Who knows, if the creator's project is successful, early NFT owners may even get exclusive token drops? 
      Either way, there is complete freedom for how the creator would want to structure his benefits.
      If the creator's project fails, well, I'm sure they will have many others! 
      <!-- Other than exclusive benefits the creator can provide (many of which will be added on this platform <b>eventually</b>),
      the NFT can also have future monetary value. By owning the NFT, it can provide access to future exclusive token airdrops.
      Also, the NFT can have real-life physical value, such as access to an event or merchandise. -->
      <!-- 'proof of ownership', that you were an 'early supporter' for the creator.  -->

      <!-- There are many great services, such as Pateron or Gitcoin, which serves as a partial solution to that problem.
      I created CreatorCoin, as I feel it might be another partial solution. -->
      <!-- <br/><br/> -->
      <!-- CreatorCoin is a medium to help individuals support side projects, by leveraging ERC-721 tokens.
      Creator's can join the platform, and easily launch a NFT for themselves. 
      People who like the creator's work can buy the NFT.
       -->
      <!-- to be an early supporter, on their journey. -->
      <!-- <br/><br/>
      The NFT will serve as 'ownership' that you were an 'early supporter' for the creator. 
      Other than exclusive benefits the creator can provide (many of which will be added on this platform <b>eventually</b>),
      the NFT can also have future monetary value. By ownning the NFT, it can provide access to future exclusive token airdrops.
      Also, the NFT can have real-life physical value, such as access to an event or merchandise.      -->
      <!-- The creator can allow you to be part of his 'exclusive' community.  -->
      <!-- <br/><br/> -->
      <!-- NFT's are really interesting because they allow the creator to provide value to the early supporters in many different ways.
      Who knows, if CreatorCoin turns out to be successful, there will most likely be a token for the platform, and the 
      early NFT backers will receive special air-drops, before everyone else. They will also aid in shaping the platform's direction.  -->

      <br/><br/>
      <!-- If it doesn't work, then maybe some other idea of mine will (I have too many)...
      Either way, <strong>your ownership means in some way or another, you will be a part of my creative journey.</strong> -->
      To start, I have created a NFT for myself! Here's my <a href="{% url 'user_token_page' profile_id=3 %}">profile</a>, if you want to see what I'm building...
      Got any questions you want to ask me? <a href = "mailto: creatorcoin42@gmail.com">Reach out!</a>

    </p>
    
  </div>

  <br/>


{% endblock %}





