{% extends 'base.html' %}
{% load static %}


{% block content %}

  {% include 'navbar.html' %}


  <div class="row justify-content-center align-items-center py-3">

    <h3 id="manifesto_header">
      "Manifesto"
    </h3>

    <p class="manifesto_section">

      <strong>
        Here's to all the builders.
      </strong>

      <br/><br/>

      Currently, patreon is the dominant medium to help fund individuals side projects. 
      People support the creator's work, by subscribing to a monthly donation. 
      However, usually with patreon and donation services in general, you end up with the "free-rider problem".
      Only a small % of people actually donate. 
      <!-- <br/><br/> -->
      <!-- Part of the reason is, the early backers don't necessarily capture any monetary value for their donations. -->
      <br/><br/>
      A good example is Wikipedia. I am almost certain everyone viewing this page has visited or fetched knowledge 
      from Wikipedia over the past month. However, how many have actually donated to Wikipedia? 
      And what % of those donate on a monthly basis? 
      Wikipedia provides an immense value to society but captures very little monetary value for itself. 
      <br/><br/>
      This more broadly encompasses the problem of "public-good funding". 
      There are many great services, such as Pateron or Gitcoin, which serves as a partial solution to that problem.
      I created CreatorCoin, as I feel it might be another partial solution.
      <br/><br/>
      CreatorCoin is a medium to help individuals support side projects, by leveraging ERC-721 tokens.
      Creator's can join the platform, and easily launch a NFT for themselves. 
      People who like the creator's work can buy the NFT.
      
      <!-- to be an early supporter, on their journey. -->
      <br/><br/>
      The NFT will serve as 'ownership' that you were an 'early supporter' for the creator. 
      Other than exclusive benefits the creator can provide (many of which will be added on this platform <b>eventually</b>),
      the NFT can also have future monetary value. By ownning the NFT, it can provide access to future exclusive token airdrops.
      Also, the NFT can have real-life physical value, such as access to an event or merchandise.     
      <!-- The creator can allow you to be part of his 'exclusive' community.  -->
      <br/><br/>

      NFT's are really interesting because they allow the creator to provide value to the early supporters in many different ways.
      Who knows, if CreatorCoin turns out to be successful, there will most likely be a token for the platform, and the 
      early NFT backers will receive special air-drops, before everyone else. They will also aid in shaping the platform's direction. 
      <br/><br/>
      If it doesn't work, then maybe some other idea of mine will (I have too many)...
    </p>
    
  </div>

  <br/>

  <footer>

    <footer class="bg-black text-white text-center text-lg-left">
    
      <!-- Copyright -->
      <div
        class="text-center p-0"
        style="background-color: rgba(0, 0, 0, 0.2);"
      >
        © 2022
        <!-- <a class="text-white" href="https://mdbootstrap.com/"
          >Rahul Production</a
        > -->
        
      </div>
      <!-- Copyright -->

    </footer>
    
  </footer>

{% endblock %}





