{% extends 'base.html' %}
{% load static %}


{% block content %}


  {% include 'navbar.html' %}

  <div class="main-body">

    <div class="container">
      
      <div class="row"> 

        <div class="col">
      
          <div class="project-header">

            <!-- <div class="project-icon-header">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.webp">
            </div> -->

            <h2 class="project-title">
              <img src="{% static 'images/gh_sample_profile.png' %}">
              CreatorCoin 
            </h2>

            <!-- <i class="bi bi-share-fill"></i> -->
            
            <!-- <div class="project-fund-header">
              <span class="badge rounded-pill bg-info text-dark">active</span>
              <span id="project-token-price" class="badge bg-light text-dark">(Fixed) Price per Token: $5 (0.0001 ETH)</span>
              <button type="button" id="project-fund-button" class="btn btn-outline-info">Buy $CC</button>
            </div> -->
          
          </div>


          <!-- <div class="project-user-link"> -->
          <div class="project-subheading-information">

            <span class="project-user-link">
              Created By: <a href="#">
                Rahul
                </a>
            </span>

            

            <!-- <span class="project-token-detail">              
              <div class="progress" style="height: 15px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">30%</div>
              </div>
              Price per token: $5 
              |
              Number of Tokens Bought: 30 
              |
              Number of Tokens Avaliable: 10000              
            </span> -->
            
            
          </div>
 
          
        </div>

      </div>

      <br/>

      <div class="row"> 
        
        <div class="col-sm-10">

          <div class="project-desc">
            <p>
              Writing about something, even something you know well, usually shows you that you didn't know it as well as you thought. 
              Putting ideas into words is a severe test. The first words you choose are usually wrong; you have to rewrite sentences over and over to 
              get them exactly right. And your ideas won't just be imprecise, but incomplete too. Half the ideas that end up in an essay will be ones 
              you thought of while you were writing it. Indeed, that's why I write them. 
              Now, how did I come to do this study? At Los Alamos I was brought in to run the computing machines which other people had 
              got going, so those scientists and physicists could get back to business.
              
              <!-- <br/><br/>
              The reason I am raising this fund is so at Los Alamos I was brought in to run the computing machines which other people had 
              got going, so those scientists and physicists could get back to business.  -->
          
            </p>
          </div>

        </div>

        <div id="project-links-section" class="col-sm-2">
          
          <h4>
            Links
          </h4>
          
          <ul>
            <li>
              <i class="bi bi-link"></i> <a href="">Project Website</a>
            </li>
            <li>
              <i class="bi bi-github"></i> <a href="">Github</a>
            </li>

            <!-- <li>
              <i class="bi bi-file-text-fill"></i> <a href="">Whitepaper</a>
            </li> -->
            
          </ul>
        
        </div>

      </div>


    </div>



  </div>



{% endblock %}







